<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nasa Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container" style="background-color:white;">

    <div class="jumbotron text-center"  style="background-color:blue!important">
      <img src="https://cdn.shopify.com/s/files/1/2341/9769/products/WebNASAInsigniaBlackHoodieFrontClose_large.jpg?v=1572641414" alt="Italian Trulli" style="width:200px;height:200px">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" style="background-color: black;" role="button">Click for more info!</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h2 ><u>Latest Mars News</u></h2>
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_p}}</small>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col col-8">
          <h2><u>Featured Mars Image</u></h2>
          <img src={{mars.featured_image_url}} alt="Featured image" style="width:200px;height:100px;>
      </div>
      <div class="col col-4>
      
      <h2><u>Mars Facts</u></h2>
      <table class="table table-striped table-dark">
        <thead> 
        {{mars.marsfacts_html | safe}}
      </thead>
      </table>
  
      </div>
</body>

</html>